html {
    background-color: black;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 400;
    color: white;
}

.cover {
    display: flex;
    justify-content: center;
}

.potatoImg {
    width: 200px;  
    height: 200px; 
    border-radius: 50%;
    object-fit: cover; 
    display: block; 
    margin-bottom: 20px;
}

.searchField {
    display: flex;
    justify-content: center;
}

#userInput {
    margin-right: 10px;
    padding: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

.usageParagraph {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 24px;
    padding: 5%;
}

.resultsContainer {
    display: flex;
    justify-content: space-around;
    max-height: 800px;
    max-width: 100%;
}

.results {
    display: flex;
    align-items: center;
    background-image: linear-gradient(180deg, #730303, transparent);
    color: white;
    padding-bottom: 30px;
}

.poster {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 250px;
}

.posterAndTitle {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.detailsContainer {
    display: flex;
}

.movieDetails {
    display: flex;
    justify-content: flex-end;
    color: white;
    width: 40%;
}

.details {
    display: flex;
    justify-content: flex-end;
}
